body {
  margin: 0;
}
header,
footer {
  background-color: #242222;
}
.Bnavegación {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.Logo {
  display: flex;
  margin-left: 1%;
}
.Apartados {
  display: flex;
  justify-content: space-evenly;
  flex: 70%;
}
.Iconos {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  margin-right: 1%;
}
.Eslogan {
  height: 500px;
  width: 100%;
}
.Eslogan img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Eslogan h1 {
  position: absolute;
  width: 830px;
  top: 10%;
  left: 2%;
  color: white;
  font-size: 65px;
  font-weight: 700;
  text-align: justify;
  font-family: serif;
}
.Eslogan p {
  position: absolute;
  width: 735px;
  top: 40%;
  left: 2%;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  text-align: justify;
  font-family: serif;
}
.Titulo {
  display: flex;
  justify-content: center;
  margin: 0%;
  width: 100%;
  padding: 0%;
  margin-top: 2%;
}
.Titulo h2 {
  font-size: 65px;
  font-weight: 700;
  text-align: justify;
  font-family: serif;
  margin: 0%;
  padding: 0%;
}
.Pmezcales {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  width: 100%;
}
.Pmezcales .productos {
  flex-direction: row;
  display: flex;
  margin-bottom: 1%;
}
.Pmezcales .productos .carta {
  text-align: center;
}
.Pmezcales .productos .carta p,
h3 {
  font-family: serif;
  font-size: 1.5em;
  font-weight: 500;
}
.Pmezcales .Bmostrar {
  margin: 0%;
  padding: 0%;
}
.Pcocteles {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
}
.Pcocteles .productos {
  flex-direction: row;
  display: flex;
  margin-bottom: 1%;
}
.Pcocteles .productos .carta {
  text-align: center;
}
.Pcocteles .productos .carta p,
h3 {
  font-family: serif;
  font-size: 1.5em;
  font-weight: 500;
}
.Pcocteles .Bmostrar {
  margin: 0%;
  padding: 0%;
}
.Redes {
  margin: 0%;
  margin-top: 4%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 150px;
  color: white;
}
.Redes .Paginas {
  display: flex;
  flex-direction: column;
}
.Redes .Paginas p {
  font-family: serif;
  line-height: 0.1;
}
.nosotros {
  display: flex;
  flex-direction: column;
  height: 1659px;
  width: 100%;
  background-color: white;
}
.nosotros .titulo {
  display: flex;
  justify-content: center;
  margin: 0%;
  width: 100%;
}
.nosotros h1 {
  font-size: 65px;
  font-weight: 700;
  text-align: justify;
  font-family: serif;
}
.estrellas {
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.informacion {
  height: auto;
  width: 100%;
}
.informacion p {
  margin-right: 60px;
  margin-left: 60px;
  text-align: justify;
  font-size: 30px;
  font-family: "Playfair Display";
}
.informacion img {
  text-align: center;
  margin: auto;
  display: block;
}
.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 110px;
  height: auto;
  width: 100%;
}
.ubicacion .direccion {
  margin-left: 60px;
}
.ubicacion .direccion h2 {
  text-align: justify;
  font-size: 30px;
  font-family: "Playfair Display";
}
.ubicacion .direccion p {
  text-align: justify;
  font-size: 30px;
  font-family: "Playfair Display";
  color: #7e7267;
  margin-right: 200px;
}

.ubicacion .mapa {
  margin-right: 60px;
  margin-top: 20px;
}
.Pmezcales2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  width: 100%;
}
.Pmezcales2 .productos {
  margin-top: 5%;
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.Pmezcales2 .productos .carta {
  text-align: center;
}
.Pmezcales2 .productos .carta p,
h3 {
  font-family: serif;
  font-size: 1em;
  font-weight: 500;
}
.Pmezcales2 .Bmostrar {
  margin-bottom: 2%;
}
